<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN" "http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
	<module name="TreeWalker">
		<module name="AnnotationUseStyle">
			<property name="elementStyle" value="compact" />
		</module>
		<module name="MissingOverride" />
		<module name="PackageAnnotation" />
		<module name="AnnotationLocation">
			<property name="allowSamelineSingleParameterlessAnnotation"
				value="false" />
		</module>

		<module name="EmptyBlock">
			<property name="option" value="text" />
		</module>
		<module name="LeftCurly" />
		<module name="RightCurly">
			<property name="option" value="alone"/>
		</module>
		<module name="NeedBraces" />
		<module name="AvoidNestedBlocks" />

		<module name="FinalClass" />
		<module name="InterfaceIsType" />
		<module name="HideUtilityClassConstructor" />
		<module name="MutableException" />

		<module name="RedundantImport" />
		<module name="UnusedImports">
			<property name="processJavadoc" value="true" />
		</module>
		<module name="AvoidStarImport" />
		<module name="RequireThis">
			<property name="checkMethods" value="false" />
		</module>
		<module name="StringLiteralEquality" />
		<module name="MultipleVariableDeclarations" />
		<module name="OneStatementPerLine" />
		<module name="NeedBraces" />
		<module name="OneTopLevelClass" />
		<module name="RegexpSinglelineJava">
			<property name="format" value="^\t* +\t*\S" />
			<property name="message"
				value="Line has leading space characters; indentation should be performed with tabs only." />
			<property name="ignoreComments" value="true" />
		</module>
	</module>
</module>
